@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-1deg);
  }
  40% {
    transform: rotate(1deg);
  }
  60% {
    transform: rotate(-0.5deg);
  }
  80% {
    transform: rotate(0.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hover-shake:hover {
  animation: shake 0.4s ease-in-out infinite;
}

body {
  user-select: none;
}
